<div class="center jumbotron">
<h1>Make Decisions!</h1>
<%= link_to image_tag("vote.jpg", alt: "Decide.vote"),'http://decide.vote/' %>
<p>
Learn how Single Transferable Voting works here: 
<a href="https://www.youtube.com/watch?v=l8XOZJkozfI">Politics in the Animal Kingdom<a>
<br><%= link_to "Make a new decision!", '#', class: "btn btn-lg btn-primary" %>
</p>
</div>
